/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10/11/2021, 03:53:08 PM
    Author     : pcgc7
*/

/* Dispositivos con orientación horizontal con una resolución de pantalla máxima de 1024px */
@media screen and (max-width: 1024px) {
    .contenedor {
        grid-template-rows: repeat(15, 6.45em);         
        .encabezado {
            .logo {
                img {                    
                    margin: 1.75em 1em;
                }
            }  
        }
        .contenido  {    
            grid-template-rows: repeat(12, 6.45em);
            .textoTitulos {
                p {
                    font-size: 1.25em; 
                }
            }
            .menu {
                .opcion {
                    font-size: 2.75em;
                }
                .tituloItem {
                    font-size: 1em;
                }
            }
            .imagenFondo {
                .txtVision {
                    font-size: 2em;   
                }
            }
            .contenedor-slideshow {
                .contenedor-imagenes {
                    max-width: 73%;
                    padding: 2em 2.5em;
                    .flecha-previo, .flecha-siguiente {
                        font-size: 3em;
                    }
                    .slick-dots {        
                        bottom: 2%;
                        li {
                            width: 0.75em;
                            height: 0.75em;
                        }
                    }
                }
            }
            .wave {
                top: -5.75em;
            }
        }
        .contenedorPiepagina {            
            .columna-menu {
                h2 {
                   font-size: 0.9em; 
                }
                ul {
                   line-height: 3.1em;
                   font-size: 0.6em;
                }
            }
            .columna-redes {
                h2 {
                   font-size: 0.9em; 
                }
                .redes {
                    line-height: 2.45em;
                    .icono {
                        font-size: 1.25em;
                    }
                    a {
                       font-size: 0.6em; 
                    }                    
                }
            }
            .columna-contacto {
                h2 {
                   font-size: 0.9em; 
                }
                .datos {
                   line-height: 2.45em; 
                   .icono {
                       font-size: 1.25em;
                   }
                   a {
                       font-size: 0.6em;
                   }
                   label {
                       font-size: 0.6em;
                   }
                }
            }
            .contenedorInformacion {
                font-size: 0.6em;       
            }            
        }
    }
}