/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 9/11/2021, 06:05:32 PM
    Author     : pcgc7
*/

$colorAzul: #003958;
$colorDorado: #b59a47;
$colorBlanco: #fff;
$colorWhitesmoke: #f5f5f5;
$colorAlabaster: #f2f0e6;
$colorSilver: #ccc;

$tipoFuente_1: 'Open Sans', sans-serif;
$tipoFuente_2: 'Noto Serif', serif;
$sombra: 0 0.75em 0.75em 0 rgba(0,0,0,0.5);
$gradiente: linear-gradient(to right, $colorWhitesmoke 0%, $colorDorado 100%);

$imgBackground_1: url('../imagenes/imgCielo_2.jpg');
$imgBackground_2: url('../imagenes/fondo_iglesia_4.jpg');
$imgBackground_3: url('../imagenes/imgMuroPiedra_1.jpg');